In [1]:
import pandas as pd

### 1. Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.

In [2]:
df = pd.read_csv('Data/OnlineRetail.csv', encoding='iso-8859-2')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [3]:
print(f'Dữ liệu có {df.shape[0]} dòng')
print(f'Dữ liệu có {df.shape[1]} cột')

Dữ liệu có 541909 dòng
Dữ liệu có 8 cột

In [4]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

### 2.Trích xuất dữ liệu các cột Description và Quantity lưu vào file OnlineRetail.csv

In [5]:
df[['Description','Quantity']].to_csv('OnlineRetail.csv',index = False)

### 3. Trích xuất dữ liệu 1000 dòng đầu tiên lưu vào file OnlineRetail.xlsx

In [6]:
df.head(10000).to_excel('OnlineRetail.xlsx',index =False)

### 4. Trích xuất các bản ghi có số lượng từ 10 trở lên lưu vào file OnlineRetail.h5

In [7]:
# install tables
! pip install tables

df.head(20).to_hdf('OnlineRetail.h5', 'table' ,index =False)

### 5. Trích xuất dữ liệu các phần tử từ dòng 1000 đến dòng 2000, các cột Quantity, InvoiceDate, UnitPrice lưu vào file OnlineRetail.json

In [12]:
df.iloc[999:2000].to_json('OnlineRetail.json','table',index =False)

### 6. Trích xuất các bản ghi có số hóa đơn ‘536365’ lưu vào file OnlineRetail.html

In [17]:
df[df['InvoiceNo'] =='536365'].to_html('OnlineRetail.html',index = False)