In [1]:
import pandas as pd

## 1. Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.

In [3]:
df = pd.read_csv('Data/GDPlist.csv',decimal= ',' , encoding = 'iso-8859-2')
df.drop(columns=['Country.1'], inplace= True)
df.head()

       Country      Continent  GDP (millions of US$)
0  Afghanistan           Asia                  18181
1      Albania         Europe                  12847
2      Algeria         Africa                 190709
3       Angola         Africa                 100948
4    Argentina  South America                 447644

In [4]:
print(f'Dữ liệu có {df.shape[0]} dòng')
print(f'Dữ liệu có {df.shape[1]} cột')

Dữ liệu có 125 dòng
Dữ liệu có 3 cột

In [5]:
df.dtypes

Country                  object
Continent                object
GDP (millions of US$)     int64
dtype: object

## 2. Tính giá trị lớn nhất và nhỏ nhất của GDP.

In [11]:
print(f"Min value of GDP: {df['GDP (millions of US$)'].min()}")
print(f"Max value of GDP: {df['GDP (millions of US$)'].max()}")

Min value of GDP: 10600
Max value of GDP: 15094025

## 3. Hãy cho biết xu hướng phân bố dữ liệu của GDP.

In [15]:
print(f"Mean value of GDP: {df['GDP (millions of US$)'].mean()}")
print(f"Median value of GDP: {df['GDP (millions of US$)'].median()}")
print(f"Q-1 value of GDP: {df['GDP (millions of US$)'].quantile(q=0.25)}")
print(f"Q-3 value of GDP: {df['GDP (millions of US$)'].quantile(q=0.75)}")

Mean value of GDP: 555427.784
Median value of GDP: 96089.0
Q-1 value of GDP: 25742.0
Q-3 value of GDP: 333238.0

## 4. Hãy cho biết châu lục nào xuất hiện nhiều nhất?

In [20]:
df['Continent'].value_counts()

Europe           37
Asia             36
Africa           29
North America    11
South America     9
Oceania           3
Name: Continent, dtype: int64

### Europe xuất hiện nhiều nhất

## 5. Với mỗi châu lục hãy tính tổng GDP; trung bình cộng GDP. Hợp nhất 2 bảng này thành một bảng duy nhất gồm 3 thông tin: Tên châu lục; Tổng GDP; TBC GDP.

In [30]:
sum_df = df.pivot_table(values =  'GDP (millions of US$)', index = 'Continent', aggfunc = 'sum') 
mean_df = df.pivot_table(values =  'GDP (millions of US$)', index = 'Continent', aggfunc = 'mean')
concat_df = sum_df.merge(mean_df, on = 'Continent')
concat_df.columns = ['Tổng GDP', 'TBC GDP']
concat_df.index = 'Tên châu lục',
concat_df

ValueError: Length mismatch: Expected axis has 6 elements, new values have 1 elements