In [1]:
import pandas as pd

### 1. Đọc dữ liệu, dữ liệu có bao nhiêu dòng, cột và kiểu dữ liệu của từng thuộc tính

In [10]:
df = pd.read_csv('Data/GDPlist.csv',e)
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Data/GDPlist.csv'

In [3]:
print(f'Dữ liệu có {df.shape[0]} dòng')
print(f'Dữ liệu có {df.shape[1]} cột')

Dữ liệu có 125 dòng
Dữ liệu có 3 cột

In [4]:
df.dtypes

Country                  object
Continent                object
GDP (millions of US$)     int64
dtype: object

### 2. Việt hóa tên các cột trong bảng dữ liệu: Country 🡪 Nuoc; Continent 🡪 Chauluc; GDP (millions of US ) 🡪 GDP (trieu)

In [5]:
df.rename(columns={'Country': 'Nuoc','Continent' :'Chauluc', 'GDP (millions of US$)' : 'GDP(trieu$)'}, inplace=True)
df.head()

          Nuoc        Chauluc  GDP(trieu$)
0  Afghanistan           Asia        18181
1      Albania         Europe        12847
2      Algeria         Africa       190709
3       Angola         Africa       100948
4    Argentina  South America       447644

### 3. Chèn thêm một cột “Thanhpho” vào sau cột “Nuoc”, giá trị ban đầu là giá trị của cột “Nuoc”

In [6]:
df.insert(1,'Thanhpho', value = df.Nuoc )
df.head()

          Nuoc     Thanhpho        Chauluc  GDP(trieu$)
0  Afghanistan  Afghanistan           Asia        18181
1      Albania      Albania         Europe        12847
2      Algeria      Algeria         Africa       190709
3       Angola       Angola         Africa       100948
4    Argentina    Argentina  South America       447644

### 4. Trong cột Thanhpho, thay giá trị Vietnam thành Hanoi; Làm tương tự với các nước còn lại.

In [7]:
df.loc[df['Thanhpho'] == 'Vietnam', 'Thanhpho'] = 'Hanoi'
df.tail()

           Nuoc    Thanhpho        Chauluc  GDP(trieu$)
120  Uzbekistan  Uzbekistan           Asia        45353
121   Venezuela   Venezuela  South America       315841
122     Vietnam       Hanoi           Asia       122722
123       Yemen       Yemen         Africa        33675
124      Zambia      Zambia         Africa        19206

### 5. Xóa các bản ghi có Chauluc là ‘Asia’

In [8]:
df = df[df['Chauluc'] != 'Asia']
df[df['Chauluc'] == 'Asia']

Empty DataFrame
Columns: [Nuoc, Thanhpho, Chauluc, GDP(trieu$)]
Index: []

### 6. Xóa các bản ghi có GDP < 300000

In [9]:
df = df[df['GDP(trieu$)'] >= 300000]
df[df['GDP(trieu$)'] < 300000]

Empty DataFrame
Columns: [Nuoc, Thanhpho, Chauluc, GDP(trieu$)]
Index: []